img.UnicornAvatar {
    width: 50%;
}

h3.UnicornAvatar  {
    color: black;
    font-size: 4vh;
}
  
button.UnicornAvatar  {
    color: white;
    background-color: black;
    height: 4em;
    width: 6em;
}