.ResumeElement {
    display: flex;
    height: 100%;
    width: 100%;
    display: inline-flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.ResumeElementHeader {
    width: 30%;
    margin-top: 5vh;
    font-size: 3vh;
}

.ResumeElementList {
    width: 40%;
    color: black;
    background-color: pink;
    margin-top: 5vh;
}

@media only screen and (max-width: 500px) {
    .ResumeElementList {
        width: 90%;
    }
}