.Button {
    display: flex;
    flex-direction: row;
    width: 10em;
    height: 10em;
    background-color: black;
    color: #ffffff;
    font-size: 2em;
    text-transform: none;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 1em;
}

@media only screen and (max-width: 1370px) {
    .Button {

    }
}

@media only screen and (max-width: 1025px) {
    .Button {

    }
}

@media only screen and (max-width: 500px) {
    .Button {

    }
}