.todo {
    /* width: 60%;
    display:flex;
    flex-direction: column;
    justify-content: center;
     */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
}
